html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
	color: #19225C;
	background-color: #f4f5f947;
	margin: 0;
	font-family: 'Lato', sans-serif;
	background-color: #f4f5f947;
}

h1 {
	cursor: pointer;
	margin-left: 2vw;
	font-family: 'Bitter', serif;
	font-size: 2.8vw;
}

h2 {
	font-family: 'Bitter', serif;
	font-weight: bold;
	font-size: 2.5vw;
	margin: 0;
}

h3 {
	margin: 0.3vw 0;
	font-size: 1.25vw;
	font-weight: bold;
	font-family: 'Bitter', serif;
}

h4 {
	margin: 0;
	padding: 0.6vw 12vw 1.5vw 12vw;
	font-weight: normal;
	font-size: 1.3vw;
}

h5 {
	font-size: 1.4vw;
	margin: 0;
	z-index: 1;
}

p {
	margin: 0;
	line-height: 1.4vw;
	font-size: 1.1vw;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	font-weight: bold;
}

button {
	 cursor: pointer; 
	 background-color: #212A65; 
	 width: 10vw; 
	 height: 2.7vw; 
	 color: white; 
	 border: none; 
	 font-size: 1.2vw; 
}

button:hover {
	opacity: 90%;
}

ul {
    padding: 0;
    list-style: none;
}

.first-third-width {
	margin-left: 5vw;
}

.third-third-width {	
	margin-right: 5vw;
}

.features-third {
	display: flex;
	flex-direction: column;
	justify-self: center;
	padding-top: 1.4vw;
	box-shadow: 0 4px 4px -4px #232323;
}

.center {
	text-align: center;
}

#navbar-container {
	z-index: 1000;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	background-color: white;
	padding: 0.7vw;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	height: 4.5vw;
	min-height: 50px;
}

.navbar-mobile {
	display: none;
}

.navbar-links {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
}

ul li {
    position: relative;
}

.navbar-links li {
	cursor: pointer;
	margin: 0.3vw 0.3vw 0.3vw 1.8vw;
	font-family: 'Lato', sans-serif;
	font-size: 1.2vw;
	color: #4F588F;
}

li > .dropdown {
    min-width: 100%; 
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

li:hover > .dropdown {
	display: block;
}

#top-content-section-large {
	background-image: url("../assets/AdobeStock_181153776.jpeg");
	background-size: cover;
	background-position: 50% 20%;
	background-color: #9197BE;
	height: 40vw;
	max-height: 83vh;
	min-height: 450px;
	padding: 10vw 11vw;
}

#top-content-section-mobile {
	display: none;
}

.top-content-container {
	background-color: rgba(255,223,186,0.75);
	color: #19225C;
	width: 50%;
	padding: 0.5vw 0.8vw;
	height: 20vw;
}

.top-content-container > div {
	padding: 0.7vw 1.4vw;
}

.top-content-title {
	margin-top: 0.5vw;
}

.top-content-text {	
	width: 84%;
	margin: 0 0 1.5vw 0;
	font-size: 1.4vw;
}

.top-content-button {
	width: 13vw;
}

.about-content {
	padding: 1.5vw 1.5vw 0 1.5vw;
	background-color: white;
}

#features-section {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	margin-bottom: 0.6vw;
	background-color: white;
	padding-bottom: 4.5vw;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.feature-text {
	padding: 0.3vw;
}

.features-third > div:last-child {
	text-align: center;
	width: 26vw;
	height: 6.6vw;
	background-color: #fff8efb5;
}

.features-image {
	width: 26vw;
	height: 17.4vw;
	background-repeat: round;
}

.education {
	background-image: url("../assets/AdobeStock_299919002.jpeg");	
}

.experience {
	background-image: url("../assets/AdobeStock_200537096.jpeg");
}

.salary {
	background-image: url("../assets/AdobeStock_180706958.jpeg");
}

.highschool-junior {
	background-image: url("../assets/AdobeStock_145143446.jpeg");
}

.highschool-senior {
	background-image: url("../assets/AdobeStock_217647683.jpeg");
	background-position: 100%;
}

.junior-apprentice-1 {
	background-image: url("../assets/AdobeStock_265653336.jpeg");
	background-position: 45%;
}

.junior-apprentice-2 {
	background-image: url("../assets/AdobeStock_135474635.jpeg");
	background-position: 30%;
}

.senior-apprentice {
	background-image: url("../assets/AdobeStock_208405476.jpeg");
	background-position: 60%;
}

#howitworks-section {
	padding: 2.7vw 1.5vw 0 1.5vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	padding-bottom: 2.25vw;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	background-color: #fbfcfd;
}

.howitworks-year-container {
	display: flex;
	flex-flow: row nowrap;
	flex-basis: 40%;
	margin-bottom: 2.8vw;
}

.howitworks-image {
	width: 15.3vw;
	height: 15.3vw;
	border-radius: 5%;
	flex-basis: auto;
	background-size: cover;
}

.howitworks-content {
	flex-basis: 20%;
	flex-grow: 9;
	display: flex;
	flex-flow: column nowrap;
	margin: 1vw 0 1.7vw -2.1vw;
}

.year-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 1.7vw;
}

.year-label {
	background: #f9f8f1;
	border-radius: 100%;
	box-shadow: 10px 10px 30px rgba(0,0,0,.15);
	content: " ";
	position: relative;
	height: 4.2vw;
	width: 4.2vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.year-name {
	margin: 0 0 0 2.1vw;
}

.howitworks-content > p {
	margin-left: 6.25vw;
}

#jumpstart-section {
	height: 30vw;
	background-image: url("../assets/AdobeStock_183544314.jpeg");
	background-size: cover;
	background-position: 50% 55%;
	position: relative;
}

#jumpstart-section > div {
	background-color: rgba(255,223,186,0.8);
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 40%;
	padding: 1.3vw;
}

#jumpstart-section h2 {
	margin-bottom: 7%;
}

#jumpstart-section button {
	width: 13vw;
}

footer {
	background-color: #040A2B;
	color: #f0edee;
	padding: 1.5vw 2.8vw;
}

.footer-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;	
}

.footer-container div {
	display: flex;
	flex-direction: column;
}

.footer-container div:first-child {
	flex-basis: 50%;
	justify-content: space-between;
}

.footer-container h1 {
	margin: 0;
}

footer p {
	color: #55575e;
}

footer li {
	margin-bottom: 0.5em;
}

/*tablet*/
@media (max-width: 990px) {
	h1 {
		font-size: 3.5vw;
	}

	h1:hover {
		opacity: 0.7;
	}

	h2 {
		font-size: 3.1vw;
		margin: 3vw 0;
	}

	h3 {
		font-size: 2.3vw;
	}

	h4 {
		font-size: 2.5vw;
		margin-bottom: 3vw;
	}

	h5 {
		font-size: 2vw;
	}

	p {
		font-size: 1.8vw;
		line-height: 2.2vw;
	}

	button {
		font-size: 1.7vw;
		width: 14vw;
		height: 3.5vw;
	}

	.navbar-links li {
		font-size: 1.7vw;
		margin: 0.5vw 0.5vw 0.5vw 2.4vw;
	}

	#top-content-section-large {
		padding: 2.5vw 2.5vw;
		background-position: 60% 20%;
		display: flex;
		align-items: center;
	}

	.top-content-container {		
		height: 32vw;
		width: 45vw;
	}

	.top-content-title {
		margin: 1vw 0;
	}

	.top-content-text {	
		font-size: 2.2vw;
		margin: 0 0 3vw 0;
	}

	.top-content-container button {
		width: 30vw;
		min-height: 35px;
	}

	#features-section {
		flex-flow: column nowrap;
		align-items: center;
	}
	.first-third-width,
	.third-third-width {
		margin: 0;
	}
	.features-third {
		margin-bottom: 3vw;
	}
	.features-image {
		width: 60vw;
		height: 40vw;
		background-repeat: cover;
	}

	.features-third > div:last-child {
		width: 60vw;
		height: 10vw;
		background-color: #fff8efb5;
	}
	#howitworks-section {
		flex-direction: column;
	}

	.howitworks-content {
		margin-top: 0.6vw;
	}

	.year-header {
		margin-bottom: 1vw;
	}

	.year-name {
		margin-top: -1vw;
	}

	.howitworks-content > p {
		margin-top: -1vw;
	}

	#jumpstart-section {
		height: 50vw;
	}

	#jumpstart-section div {
		height: 20vw;
		width: 60vw;
	}

	#jumpstart-section h2 {
		margin-bottom: 2vw;
	}

	#jumpstart-section button {
		width: 20vw;
		height: 5.5vw;
	}
}

/*mobile*/
@media (max-width: 550px) {
	h1 {
		font-size: 6vw;
	}

	h1:hover {
		opacity: 0.7;
	}

	h2 {
		font-size: 7vw;
		margin: 3vw 0;
	}

	h3 {
		font-size: 4.8vw;
	}

	h4 {
		font-size: 4.5vw;
		margin-bottom: 3vw;
	}

	h5 {
		font-size: 4.2vw;
	}

	p {
		font-size: 4vw;
		line-height: 4vw;
	}

	button {
		font-size: 4.5vw;
	}

	.navbar-mobile {
		display: block;
	}

	#navbar-container {
		padding: 0 2.5vw 0 0;
	}

	.navbar-mobile button {
		width: 16vw;
	}

	.navbar-large {
		display: none;
	}

	.main-inactive {
		background-color: #4F588F;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		height: 96vh;
		padding-top: 10vw;
	}

	.main-inactive a {
		margin-top: 2vw;
		font-size: 10vw;
	}

	.main-inactive a:hover {
		color: #9197BE;
	}

	.main-inactive a > button {
		width: 50vw;
		height: 12vw;
		background-color: #040A2B;
		font-size: 4.5vw;
	}

	#top-content-section-large {
		display: none;
	}

	#top-content-section-mobile {
		display: block;
	}

	.top-content-image {
		background-image: url("../assets/AdobeStock_181153776.jpeg");
		background-size: cover;
		background-position: 75%;
		background-color: #9197BE;
		height: 50vh;
		min-height: 280px;
		padding: 0;
	}

	.top-content-container {
		background-color: #E4E5F0;
		height: 40vh; 
		min-height: 350px;
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}

	.top-content-title {
		text-align: center;
	}

	.top-content-text {	
		font-size: 4.5vw;
		margin: 0 0 4vw 0;
		text-align: center;
		line-height: 6vw;
	}

	.top-content-container button {
		width: 50vw;
		height: 12vw;
	}

	.features-third {
		margin-bottom: 5vw;
	}

	.features-image {
		width: 75vw;
		height: 50vw;
	}

	.features-third > div:last-child {
		width: 75vw;
		height: 20vw;
	}

	.howitworks-content {
		margin: 0.7vw 0 3.4vw -3.3vw;
	}

	.howitworks-year-container {
		margin-bottom: 4vw;
	}

	.howitworks-image {
		width: 28vw;
		height: 28vw;
	}

	.year-header {
		margin-bottom: 0;
	}

	.year-label {
		height: 7vw;
		width: 7vw;
	}

	.howitworks-content > p {
		margin-left: 10vw;
	}

	#jumpstart-section {
		height: 65vw;
	}

	#jumpstart-section div {
		height: 55vw;
		width: 75vw;
	}

	#jumpstart-section h2 {
		margin-bottom: 3vw;
	}

	#jumpstart-section button {
		width: 50vw;
		height: 12vw;
	}

	.footer-container {
		min-height: 350px;
		flex-flow: column nowrap;
		justify-content: space-around;
		align-items: center;
	}

	.footer-container h3 {
		font-size: 4vw;
	}

	footer p {
		text-align: center;
		font-size: 3vw;
	}

	hr {
	  width: 50%;
	  margin: 50px 0 30px 0;
	}
}

.hidden {
	display: none;
}