html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
	color: #19225C;
	background-color: #ffffff;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

h1 {
	cursor: pointer;
	margin-left: 30px;
	font-family: 'Bitter', serif;
}

h2 {
	font-family: 'Bitter', serif;
	font-weight: bold;
	font-size: 40px;
	margin: 25px 0 0 0;
}

h3 {
	margin: 5px 0;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Bitter', serif;
}

h4 {
	margin: 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	font-weight: bold;
}

button {
	cursor: pointer;
	background-color: #212A65;
	width: 120px;
	height: 40px;
	color: white;
	border: none;
	font-size: 15px;
}

button:hover {
	opacity: 90%;
}

ul {
    padding: 0;
    list-style: none;
}

.page-container {
	display: grid;
	grid-template-columns: 10% 23% 17% 16% 34%;
	grid-template-rows: minmax(55px, 8vh) minmax(350px, 83vh);
}

.full-width {
	grid-column: 1 / 6;
}

.twenty-percent {
	grid-column: 1 / 2;
	background: #E4E5F0;
    border-radius: 100%;
    box-shadow: inset 0 0 5px rgba(0,0,0,.15), 0 0 0 #fff;
	height: 75px;
	width: 50%;
	place-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: -2;
}

.twenty-percent::before {
	background: #ffffff;
	border-radius: 100%;
	box-shadow: 0 2px 3px rgba(0,0,0,.15);
	content: " ";
	position: absolute;
	height: 70%;
	width: 70%;
	z-index: -1;
}

.twenty-percent::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0.1em;
  height: 150%;
  background: dodgerblue;
  z-index: -3;
}

.last::after {
	display: none;
}

.twenty-percent > h4 {
	font-family: 'Bitter', serif;
	font-weight: bold;
	font-size: 22px;	
}

.thirty-percent {
	grid-column: 2 / 4;
}

.second-half-width {
	grid-column: 4 / 6;
}

.first-third-width {
	grid-column: 1 / 3;
	margin-left: 5vw;
}

.second-third-width {
	grid-column: 3 / 5;
}

.third-third-width {
	grid-column: 5 / 6;
	margin-right: 5vw;
}

.features-third {
	display: flex;
	flex-direction: column;
	justify-self: center;
	margin-top: 20px;
}

.center {
	text-align: center;
}

#navbar-container {
	z-index: 1000;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	background-color: white;
	padding: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.navbar-links {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
}

ul li {
    position: relative;
}

.navbar-links li {
	cursor: pointer;
	margin: 8px 8px 8px 30px;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	color: #4F588F;
}

li > .dropdown {
    min-width: 100%; 
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

li:hover > .dropdown {
	display: block;
}

.top-content-section {
	background-image: url("../assets/AdobeStock_181153776.jpeg");
	background-size: cover;
	background-position: 50% 20%;
	background-color: #9197BE;
	color: #4f588f;
}

.top-content-container {
	background-color: rgba(255,223,186,0.75);
	color: #19225C;
	width: 40%;
	margin: 18vh 10vw;
	padding: 15px;
	max-height: 80%;
}

.top-content-title {
	margin-top: 8px;
}

.top-content-container > div {
	padding: 0 20px;
}

.top-content-text {	
	width: 84%;
	margin: 20px 0 25px 0;
	font-size: 20px;
}

.top-content-button {
	width: 175px;
}

.about-content {
	margin-top: 2vh;
	background-color: white;
}

.about-content > h4 {
	margin: 10px 20vw 25px 20vw;
	font-weight: normal;
	font-size: 18px;
}

.howitworks {
	margin: 15px 0;
}

.background-image {
	width: 375px;
	height: 250px;
	background-repeat: round;
}

.education {
	background-image: url("../assets/AdobeStock_299919002.jpeg");	
}

.experience {
	background-image: url("../assets/AdobeStock_200537096.jpeg");
}

.salary {
	background-image: url("../assets/AdobeStock_180706958.jpeg");
}

.feature-text {
	padding: 5px;
}

.features-third > div:last-child {
	background-color: #FFF8EF;
	box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.2);
	text-align: center;
	width: 375px;
	height: 85px;
}


