.first-third-width {
	margin-left: 5vw;
}

.third-third-width {	
	margin-right: 5vw;
}

.features-third {
	display: flex;
	flex-direction: column;
	padding-top: 1.4vw;
	box-shadow: 0 4px 4px -4px #232323;
}

#top-content-section-large {
	background-image: url("../assets/featureimage_web.jpeg");
	background-size: cover;
	background-position: 50% 20%;
	background-color: #9197BE;
	height: 40vw;
	max-height: 83vh;
	min-height: 450px;
	padding: 7vw 7vw;
}

#top-content-section-mobile {
	display: none;
}

.top-content-container {
	background-color: rgba(255,223,186,0.75);
	color: #19225C;
	width: 45%;
	padding: 0.5vw 0.8vw;
	height: 20vw;
}

.top-content-container > div {
	padding: 0.7vw 1.4vw;
}

.top-content-title {
	margin-top: 0.5vw;
}

.top-content-text {	
	width: 84%;
	margin: 0 0 1.5vw 0;
	font-size: 1.4vw;
}

.about-content {
	padding: 1.5vw 1.5vw 0 1.5vw;
	background-color: white;
}

#features-section {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	margin-bottom: 0.6vw;
	background-color: white;
	padding-bottom: 4.5vw;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.feature-text {
	padding: 0.3vw;
}

.features-third > div:last-child {
	text-align: center;
	width: 26vw;
	height: 7.1vw;
	background-color: #fff8efb5;
}

.features-image {
	height: 17.4vw;
	background-size: cover;
}

.education {
	background-image: url("../assets/manlearning_web.jpg");	
}

.experience {
	background-image: url("../assets/experience_web.jpg");
}

.salary {
	background-image: url("../assets/salary_web.jpg");
}

.highschool-junior {
	background-image: url("../assets/pencil_web.jpg");
}

.highschool-senior {
	background-image: url("../assets/interview_web.jpg");
	background-position: 100%;
}

.junior-apprentice-1 {
	background-image: url("../assets/firstday_web.jpg");
	background-position: 45%;
}

.junior-apprentice-2 {
	background-image: url("../assets/juniorapprentice_web.jpg");
	background-position: 30%;
}

.senior-apprentice {
	background-image: url("../assets/seniorapprentice_web.jpg");
	background-position: 60%;
}

#howitworks-section {
	padding: 2.7vw 1.5vw 0 1.5vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding-bottom: 2.25vw;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.howitworks-year-container {
	display: flex;
	flex-flow: row nowrap;
	flex-basis: 40%;
	margin-bottom: 2.8vw;
}

.howitworks-image {
	width: 15.3vw;
	height: 15.3vw;
	border-radius: 5%;
	flex-basis: auto;
	background-size: cover;
}

.howitworks-content {
	flex-basis: 20%;
	flex-grow: 9;
	display: flex;
	flex-flow: column nowrap;
	margin: 1vw 0 1.7vw -2.1vw;
}

.year-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 1.7vw;
}

.year-label {
	background: #f9f8f1;
	border-radius: 100%;
	box-shadow: 10px 10px 30px rgba(0,0,0,.15);
	content: " ";
	position: relative;
	height: 4.2vw;
	width: 4.2vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.year-name {
	margin: 0 0 0 2.1vw;
}

.howitworks-content > p {
	margin-left: 6.25vw;
}

#jumpstart-section {
	height: 30vw;
	background-image: url("../assets/jumpstart_web.jpeg");
	background-size: cover;
	background-position: 50% 55%;
	position: relative;
}

#jumpstart-section > div {
	background-color: rgba(255,223,186,0.8);
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 40%;
	padding: 1.3vw;
}

#jumpstart-section h2 {
	margin-bottom: 7%;
}

#jumpstart-section.mobile {
	display: none;
}

/*tablet*/
@media (max-width: 990px) {

	#top-content-section-large {
		padding: 70px 4vw;
		background-position: 60% 20%;
		display: flex;
	}

	.top-content-container {		
		height: 32vw;
		width: 45vw;
	}

	.top-content-title {
		margin: 1vw 0;
	}

	.top-content-text {	
		font-size: 2.2vw;
		margin: 0 0 3vw 0;
	}

	#features-section {
		flex-flow: column nowrap;
		align-items: center;
	}
	.first-third-width,
	.third-third-width {
		margin: 0;
	}
	.features-third {
		margin-bottom: 3vw;
	}
	.features-image {
		width: 60vw;
		height: 40vw;
		background-repeat: cover;
	}

	.features-third > div:last-child {
		width: 60vw;
		height: 10vw;
		background-color: #fff8efb5;
	}
	#howitworks-section {
		display: block;
	}

	.howitworks-year-container {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	.howitworks-image {
		width: 20vw;
		height: 20vw;
	}

	.howitworks-content {
		margin-top: 0.6vw;
	}

	.year-header {
		margin-bottom: 1vw;
	}

	.year-name {
		margin-top: -1vw;
	}

	.howitworks-content > p {
		margin-top: 0vw;
		width: 90%;
		font-size: 2.5vw;
		line-height: 3vw;
	}

	.login-form-container {
		width: 55%;
	}

	#jumpstart-section {
		height: 50vw;
	}

	#jumpstart-section div {
		height: 20vw;
		width: 60vw;
	}

	#jumpstart-section h2 {
		margin: 2vw 0;
	}
}

/*mobile*/
@media (max-width: 550px) {
	.login-form-container {
		width: 65%;
	}

	.login-form-container p {
		margin: 20px 0 10px 0;
		font-size: 16px;
	}

	.student-register-modal-mobile button {
	cursor: not-allowed;
	}

	.student-register-modal-mobile u:hover, .student-login-modal-mobile u:hover {
		cursor: pointer;
	}

	#top-content-section-large {
		display: none;
	}

	#top-content-section-mobile {
		display: block;
	}

	.top-content-image {
		background-image: url("../assets/AdobeStock_181153776.jpeg");
		background-size: cover;
		background-position: 75%;
		background-color: #9197BE;
		height: 50vh;
		min-height: 280px;
		padding: 0;
	}

	.top-content-container {
		background-color: #E4E5F0;
		height: 63vw;
		max-height: 315px;
		padding-top: 3vw;
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}

	.top-content-title {
		text-align: center;
	}

	.top-content-text {	
		font-size: 4.5vw;
		margin: 0 0 4vw 0;
		text-align: center;
		line-height: 6vw;
	}

	.features-third {
		margin-bottom: 5vw;
	}

	.features-image {
		width: 75vw;
		height: 50vw;
	}

	.features-third > div:last-child {
		width: 75vw;
		height: 20vw;
	}

	#howitworks-section {
		display: flex;
		flex-direction: column;
	}

	.howitworks-content {
		margin: 0.7vw 0 3.4vw -3.3vw;
	}

	.howitworks-year-container {
		display: flex;
		flex-flow: row nowrap;
		flex-basis: 40%;
		margin: 0 0 4vw 0;
		width: inherit;
	}

	.howitworks-image {
		width: 28vw;
		height: 28vw;
	}

	.year-header {
		margin-bottom: 0;
	}

	.year-label {
		height: 7vw;
		width: 7vw;
	}

	.howitworks-content > p {
		margin-left: 10vw;
		width: inherit;
		margin-top: -1vw;
		font-size: 3.9vw;
   		line-height: 4.5vw;
	}

	#jumpstart-section {
		height: 65vw;
	}

	#jumpstart-section div {
		height: 44vw;
		width: 75vw;
	}

	#jumpstart-section h2 {
		margin: 5vw 0;
	}

	#jumpstart-section.large {
		display: none;
	}

	#jumpstart-section.mobile {
		display: block;
	}

	hr {
	  width: 50%;
	  margin: 50px 0 30px 0;
	}
}

.hidden {
	display: none;
}