.contact-form-container {
	width: 50%;
}

#contact-form > div {
	display: flex;
	align-items: center;
}

@media (max-width: 990px) {
	.contact-form-container {
		width: 70%;
	}
}

@media (max-width: 550px) {
	.contact-form-container {
		width: 85%;
	}
}

