footer {
	background-color: #040A2B;
	color: #f0edee;
	padding: 1.5vw 2.8vw;
}

.footer-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;	
}

.footer-container h1 {
	margin: 0;
	flex-basis: 50%;
}

.footer-contents-container {
	 flex-basis: 50%;
	 padding: 0 4vw;
}

.footer-contents-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer p {
	color: #55575e;
}

footer li {
	margin-bottom: 0.5em;
	font-size: 1vw;
}

footer .footer-student-register:hover {
	cursor: pointer;
}

/*tablet*/
@media (max-width: 990px) {	
	footer li {
		font-size: 1.6vw;
	}

	footer p {
		font-size: 1.3vw;
	}
}

/*mobile*/
@media (max-width: 550px) {

	.footer-container {
		min-height: 350px;
		flex-flow: column nowrap;
		justify-content: space-around;
	}

	.footer-container h1 {
		margin: 0;
	/*	align-self: center;*/
	}

	.footer-container h3 {
		font-size: 4vw;
	}

	.footer-contents-container {
		 display: flex;
		 justify-content: space-between;
		 flex-basis: 100%;
		 padding: 0;
	}

	footer p {
		text-align: center;
		font-size: 3vw;
	}

	footer li {
		font-size: 3.4vw;
	}
}

.hidden {
	display: none;
}