#form-container {
	margin: 10vw auto;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
	border-radius: 1vw;
	padding: 2.5vw;
	position: relative;
	background-color: #fbfcfd;
}

#form-container h2 {
	margin-bottom: 2vw;
	text-align: center;
}

#form-container span {
	position: absolute;
	left: 92%;
	top: 0.5vw;
	color: black;
	font-size: 25px;
}

#form-container span:hover, #form-container span:focus {
	color: grey;
	cursor: pointer;
}

#form-container form {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.form-submit-button-container {
	display: flex;
	align-items: center
	margin-bottom: 20px;
}

form > div {
	flex-basis: 100%;
	position: relative;
}

.form-half-width {
	width: 49%;
}

.form-half-width.first {
	margin-right: 1%;
}

.form-half-width.second {
	margin-left: 1%;
}

.form-full-width {
	flex-basis: 100%;
}

form input {
	margin-bottom: 1.2vw;
	font-size: 1.3vw;
}

input, textarea {
	border: 1px solid #d5d8e4;
	border-radius: 3px;
	background-color: white;
	padding: 6px;
}
input {
	height: 3vw;
}

textarea {
	margin-bottom: 30px;
}

@media (max-width: 990px) {
	input {
	height: 5vw;
	}
	#form-container {
		margin: 10vw auto;
	}
	#form-container h2 {
		margin: 2vw 0;
	}
}
.twitter-logo {
	height: 40px;
	width: 40px;
}

.twitter-logo:hover {
	cursor: pointer;
}
@media (max-width: 550px) {
	input {
		height: 10vw;
	}
	form input {
		margin-bottom: 3vw;
		font-size: 3vw;
	}
	#form-container {
		box-shadow: none;
		margin: 0 auto;
	}

	#form-container h2 {
		margin-bottom: 4vw;
	}
}

.warning {
	color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
	margin: 15px auto;
	padding: 6px;
	display: flex;
	align-items: center;
}

.success {
	color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
	margin: 15px auto;
	padding: 6px;
	text-align: center;
}