/*.homepage-container {
	display: grid;
	grid-template-columns: 25vw 40vw;
	grid-column-gap: 35vw;
	grid-template-rows: 200px 200px 200px 100px 100px;
	grid-row-gap: 0;
}

.application-status-container {
	grid-column: 2 / 3;
	grid-row: 1 / 5;
	background-color: #fff;
    color: #4f588f;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-shadow: 0 0 11px 1px rgba(0,0,0,.15);
    border: 1px solid #e2e2e2;
    text-shadow: none;
}

.features-container {
	grid-column: 1 / 2;
	background-color: #fff;
    color: #4f588f;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-shadow: 0 0 11px 1px rgba(0,0,0,.15);
    border: 1px solid #e2e2e2;
    text-shadow: none;
}

.features-container-1 {
	grid-row: 1 / 2;
}

.features-container-2 {
	grid-row: 2 / 3;
}

.features-container-3 {
	grid-row: 3 / 4;
}

.features-container-4 {
	grid-row: 4 / 6;
}*/